@page
@model ECommerceWeb.Pages.Admin.SubCategoryModel
@{
    ViewBag.Title = "SubCategory";
}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <!-- 1st container fluid start-->
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>SubCategories</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-page="index">Home</a></li>
                        <li class="breadcrumb-item active">DataTables</li>
                    </ol>
                </div>
            </div>
        </div><!-- / 1st container-fluid ends-->
    </section>


    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- Countrise validation -->
                <div class="card card-primary card-outline card-info">
                    <h5 class="ml-3">SubCategory</h5>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form method="post">
                        <div class="card-body ">
                            <div class="row">
                                 <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Category:</label>
                                        <select id="CategoryId" asp-for="subCategory.CategoryId" class="form-control">
                                            <option value="">Select Category</option>
                                            @if (Model.category != null)
                                            {
                                                @foreach (var item in Model.category)
                                                {
                                                    <option value="@item.Id">@item.CategoryName</option>
                                                }
                                            }
                                        </select>

                                        <span asp-validation-for="subCategory.Category" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-lg-4">
                                    <label class="ml-2">Sub-Category</label>
                                    <input type="text" asp-for="subCategory.SubCategoryName" class="form-control" placeholder="Short Name" required>
                                </div>
                                           <!-- /.card-body -->
                            <div class="text-center mt-3">

                                @if (Model.subCategory.Id != 0)
                                {
                                    <button type="submit" class="btn btn-info">UPDATE</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-info">SUBMIT</button>

                                }
                            </div>
                          </div>
                        </div>

                    </form>


                </div>




                <form method="post">

                    <div class="card-body card card-outline card-success pl-1">
                        <div class="card-header">

                            <h3 class="mr-2">SubCategory Datalist</h3>
                        </div>

                        <table id="example1" class="table table-bordered table-striped">
                            <!--For drop menu-->
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Sub Category</th>
                                    <th scope="col">Action</th>

                                </tr>
                            </thead>

                            <tbody>

                                @if (Model.datalist.Count() > 0)
                                {
                                    foreach (var item in Model.datalist)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.CategoryName</td>
                                            <td>@item.SubCategoryName</td> 
                                            
                                            <td class="mr-5">
                                                <a asp-page="SubCategory" asp-route-id="@item.Id" class="btn btn-sm btn-warning edit-btn">EDIT</a>


                                                <button asp-page-handler="Delete" asp-route-id="@item.Id"
                                                        onclick="return confirm('Are you sure you want to DELETE?')" class="btn btn-sm btn-danger delete-btn">
                                                    DELETE
                                                </button>

                                            </td>


                                        </tr>
                                    }
                                }



                                else
                                {

                                    <tr>No SubCategory Data found</tr>

                                }

                            </tbody>

                        </table>

                    </div>

                </form>

            </div>
        </div>
    </div>

</div>






@*-------------to show in datalist code with name--------------------
    <div class="form-group">
    <label for="category-input">Category:</label>
    <input list="category-list" id="category-input" name="subCategory.CategoryId" class="form-control" />

    <datalist id="category-list">
        @if (Model.category != null)
        {
            foreach (var item in Model.category)
            {
                <option value="@item.Id">@item.CategoryName</option> <!-- Category name is displayed here -->
            }
        }
    </datalist>

    <span asp-validation-for="subCategory.CategoryId" class="text-danger"></span>
</div>
 *@
           